<div class="body">
    <div class="image-header is-logged-out">
        <div class="image-header-content">
            <h1 class="image-header-title">Where Locals Get Hired</h1>
            <h5 class="image-header-subtitle">WeDevelop is the place where local employers hire great local talent</h5>
        </div>
    </div>
    <section class="middle-section">
        <h3>WeDevelop is the place where local talent gets hired</h3>
        <div class="middle-section-items">
            <div class="clearfix">
                <div class="middle-section-item">
                    <div class="media">
                        <div class="media-icon">
                        <i class="fa fa-2x fa-location-arrow"></i>
                        </div>
                        <div class="media-body">
                            <h4>59,000+ local employers</h4>
                            <p>
                                Meet 59,000+ WeDevelop employers that follow WeDevelop’s community oriented guidelines.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="middle-section-item">
                    <div class="media">
                        <div class="media-icon">
                           <i class="fa fa-2x fa-clock"></i>
                        </div>
                        <div class="media-body">
                            <h4>1-Click Apply</h4>
                            <p>
                                Upload your resume to unlock 1-Click Apply, the fastest application you’ll ever submit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="middle-section-item">
                    <div class="media">
                        <div class="media-icon">
                           <i class="fa fa-2x fa-bullhorn"></i>
                        </div>
                        <div class="media-body">
                            <h4>Never miss a job</h4>
                            <p>
                                Follow your favorite businesses to know when they are hiring.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="clearfix">
                <div class="middle-section-item">
                    <div class="media">
                        <div class="media-icon">
                          <i class="fa fa-2x fa-search"></i>
                        </div>
                        <div class="media-body">
                            <h4>Application transparency</h4>
                            <p>
                                Get notified about changes to your application status in real time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="middle-section-item">
                    <div class="media">
                        <div class="media-icon">
                            <i class="fa fa-2x fa-file-signature"></i>
                        </div>
                        <div class="media-body">
                            <h4>Talent network</h4>
                            <p>
                                Join WeDevelop Talent to have a WeDevelop Talent Specialist match you with job opportunities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="middle-section-item">
                    <div class="media">
                        <div class="media-icon">
                            <i class="fa fa-2x fa-hand-holding-usd"></i>                  
                        </div>
                        <div class="media-body">
                            <h4>Get paid 100$</h4>
                            <p>
                                Refer a friend and get $100 if they get hired through a WeDevelop Talent Specialist.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials-section">
        <hr></hr> 
        <h3>Job seekers love WeDevelop</h3>
        <div class="testimonial">
            <div class="testimonial-image image-1"></div>
            <h4>Sommelier &amp; Sales Associate at Bay Grape</h4>
            <h5>Jenna Fischer</h5>
            <p>
                “I really liked Localwise’s philosophy on getting a job in your neighborhood and supporting your community. Localwise is easy to use, the layout is clean, and the site is easy to navigate.”
            </p>
        </div>
        <div class="testimonial">
            <div class="testimonial-image image-2"> </div>
            <h4>Quantitative Research at Resource Development Associates</h4>
            <h5>Steve Carrel</h5>
            <p>
                “Localwise is an amazing resource and it constantly informs me of available opportunities. Localwise helped me narrow my search so I wouldn’t get bogged down with jobs that didn’t cater to my interests.”
            </p>
        </div>
        <div class="testimonial">
        <div class="testimonial-image image-3"> </div>
        <h4>Marketing and Merchandising at Viscera</h4>
        <h5>Angela Kinsley</h5>
        <p>
            “Localwise is an amazing resource and it constantly informs me of available opportunities. Localwise helped me narrow my search so I wouldn’t get bogged down with jobs that didn’t cater to my interests.”
        </p>
    </div>
    </section>
</div>
