<div class="body">
    <div class="image-header is-logged-out">
        <div class="image-header-content">
            <h5 class="image-header-subtitle">Opening lines of communication across multiple projects while keeping the progress transparent is why clients and developers use weDevelop</h5>
        </div>
    </div>
    <section class="testimonials-section">
        <hr></hr> 
        <h3>Job seekers love WeDevelop</h3>
        <div class="testimonial">
            <div class="testimonial-image image-1"></div>
            <h5>Jenna Fischer, Los Angeles, CA</h5>
            <p>
                “Using weDevelop with my clients has allowed me to put their minds at ease as their project comes together.  They are able to see that progress is being made and they know how to contact me if they have a concern.  This lets me spend more time working on the project and less time on the phone talking about it”
            </p>
        </div>
        <div class="testimonial">
            <div class="testimonial-image image-2"> </div>
            <h5>Steve Carrel, New York, NY</h5>
            <p>
                “When working with multiple clients on multiple projects it can be very easy to send a message to the wrong person.  With weDevelop, my clients are attached to the project that I'm working on so there is no possibly of mixing them up.  WeDevelop has saved me many awkward conversations with clients that didn't think I was giving them the time they deserved.“
            </p>
        </div>
        <div class="testimonial">
        <div class="testimonial-image image-3"> </div>
        <h5>Angela Kinsley, Seattle, WA</h5>
        <p>
            “Giving my clients the ability to watch their project come together and have their concerns heard has earned my repeated contracts with clients.  They are impressed with the professionalism that weDevelop gives my development team and I am able to use it as a selling point for future clients.  With weDevelop I have more contracts with happier clients than I ever have before.“
        </p>
    </div>
    </section>
</div>
