

<div class="container-fluid home-intro">
    <div class="container" id="test">
        <div class="jumbotron text-center">
            <h1 class="display-4">Hello, world!</h1>
              <p class="lead">Opening lines of communication across multiple projects while keeping the progress transparent is why clients and developers use weDevelop.</p>
              
              
              <a class="btn btn-primary btn-lg" href="/developers/sign_up" role="button">Sign Up as a developer today!</a>
          </div>
    </div>    
</div>




<div class="container py-5" id="business-points">
    <div class="row py-5">
        <div class="col-md-12 text-center">
            <h3 class="font-weight-bold">There are so many benefits to joining our platform! Here are a few:</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-4">
                <img src="https://wedevelop.s3-us-west-2.amazonaws.com/round1.png" class="img-fluid rounded-circle">
                <h6 class="mb-3 mt-5">Message Your Clients</h6>
                <p class="mb-5 text-muted">Keep an open channel of communication flowing with your clients in a secure location that you both have access to.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <img src="https://wedevelop.s3-us-west-2.amazonaws.com/round2.png" class="img-fluid rounded-circle">
                <h6 class="mb-3 mt-5">Finalize Agreements</h6>
                <p class="mb-5 text-muted">Allow the client to agree to new features or updates as the work progresses to prevent disagreements down line.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <img src="https://wedevelop.s3-us-west-2.amazonaws.com/round3.png" class="img-fluid rounded-circle">
                <h6 class="mb-3 mt-5">Share New Features</h6>
                <p class="mb-5 text-muted">Update your clients when new features to the project are added.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-md-4">
                <img src="https://wedevelop.s3-us-west-2.amazonaws.com/round4.png" class="img-fluid rounded-circle">
                <h6 class="mb-3 mt-5">Track Open Items</h6>
                <p class="mb-5 text-muted">Transparently communicate the status of open items with your client and address them as your project progresses.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <img src="https://wedevelop.s3-us-west-2.amazonaws.com/round5.png" class="img-fluid rounded-circle">
                <h6 class="mb-3 mt-5">Generate New Ideas</h6>
                <p class="mb-5 text-muted">Allow your clients to introduce new ideas, expand the scope of work, and increase your revenue potential as your project comes together.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <img src="https://wedevelop.s3-us-west-2.amazonaws.com/round6.png" class="img-fluid rounded-circle">
                <h6 class="mb-3 mt-5">Collaborate on Your Project</h6>
                <p class="mb-5 text-muted">Allowing your client to view the project's status in real time will increase their trust in you and will help secure more contracts in the future. </p>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" id="filler-img">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Developers love using weDevelop!</h1>
        </div>
    </div>
</div>



<div class="container-fluid" id="reviews">
    <div class="row text-center">
        <div class="col-lg-4 col-md-12">
            <img src="https://wedevelop.s3-us-west-2.amazonaws.com/sigmund-jzz_3jWMzHA-unsplash.jpg" class="img-fluid img-thumbnail rounded"></img>
            <h5 class="person-review-details mb-3 mt-5">Mehreen Zarei, Seattle WA</h5>
            <p class="mb-5">Using weDevelop with my clients has allowed me to put their minds at ease as their project comes together.  They are able to see that progress is being made and they know how to contact me if they have a concern.  This lets me spend more time working on the project and less time on the phone talking about it.</p>
        </div>
        <div class="col-lg-4 col-md-12">
            <img src="https://wedevelop.s3-us-west-2.amazonaws.com/cesar-rincon-XHVpWcr5grQ-unsplash.jpg" class="img-fluid img-thumbnail rounded"></img>
            <h5 class="person-review-details mb-3 mt-5">Allen Campbell, Chicago IL</h5>
            <p class="mb-5">When working with multiple clients on multiple projects it can be very easy to send a message to the wrong person.  With weDevelop, my clients are attached to the project that I'm working on so there is no possibly of mixing them up.  WeDevelop has saved me many awkward conversations with clients that didn't think I was giving them the time they deserved.</p>
        </div>
        <div class="col-lg-4 col-md-12">
            <img src="https://wedevelop.s3-us-west-2.amazonaws.com/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg" class="img-fluid img-thumbnail rounded"></img>
            <h5 class="person-review-details mb-3 mt-5">Lily Anderson, San Francisco CA</h5>
            <p class="mb-5">Giving my clients the ability to watch their project come together and have their concerns heard has earned my repeated contracts with clients.  They are impressed with the professionalism that weDevelop gives my development team and I am able to use it as a selling point for future clients.  With weDevelop I have more contracts with happier clients than I ever have before.</p>
        </div>
    </div>
</div>