

<% if current_developer %>
	<%= render 'developer_show', project: @project %>
<% elsif current_client %>
	<%= render 'client_show', project: @project %>
<% else %>
	<h1>404 error - access prohibited</h1>
<% end %>