<h3>How's it going <%= @client.first_name %>?</h3>
  <p>
    <b><%= @developer.first_name %> from <%= @developer.company_name %></b> has invited you to a new project!<br>
    Congratulations on yet another project!
  </p>
  <p><a href="https://floating-everglades-96315.herokuapp.com" target="_blank">Click here to check it out!</a></p>
<p>Thanks for using the site and have a great day!</p>

<p>Sincerely, <br>
<b>The weDevelop Team</b>
</p>