<h1>How's it going <%= @client.first_name %>?</h1>
  <p>
    <b><%= @developer.first_name %> from <%= @developer.company_name %></b> has invited you to a new project!<br>
    Congratulations on yet another project!
  </p>
<p>Thanks for using the site and have a great day!</p>

<p>Sincerely, <br>
<b>The weDevelop Team</b>
</p>