<h3>How's it going <%= @developer.first_name %>?</h3>
  <p>
    <b><%= @client.first_name %> from <%= @client.company_name %></b> has sent you a new message on your <b><%= @project.title %></b> project!<br>
    Head on over to weDevelop now to see what it is!
  </p>
  <p><a href="https://floating-everglades-96315.herokuapp.com" target="_blank">Click Here To Check It Out!</a></p>
<p>Thanks for using the site and have a great day!</p>

<p>Sincerely, <br>
<b>The weDevelop Team</b>
</p>