/*========= Navbar ==========*/

@media only screen and (min-device-width : 768px) {
  .navbar-brand {
    margin-left: 15%;
  }
}

nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  height: 6em;
  background-color: #56EDC8;
}

nav .navbar-brand {
  font-size: 2em;
  font-weight: 500;
}

ul li {
  border: 1px solid;
  margin-right: .5em;
  font-weight: bold;
  border-radius: 7px;
}



/*========== HOMEPAGE ==========*/

/*========== Landing Image Section =========*/

.home-intro {
  padding-top: 10%;
  height: 75vh;
  background-size: 100% 100%;
  background-image: url("https://wedevelop.s3-us-west-2.amazonaws.com/weDEVELOP_header.png");
}

.jumbotron {
  padding-top: 9%;
  height:40vh;
  background-color: rgba(255,255,255,.5);
  color:#2A4A46;
}

.jumbotron p {
  padding-bottom:5%;
}

.jumbotron .btn {
  background-color:#66ff33;
  border-color:#66ff33;
  color: #2A4A46;
}

/*============= Business Points Section ===========*/

#business-points {
  height: 100vh;
  padding-top: 5%;
}

#business-points img {
  width:150px;
  height: 150px;
  border-radius:150px;
}

#business-points h3 {
  margin-bottom: 5em;
}



/*========== Filler Section =============*/

#filler-img {
  height:50vh;
  position:relative;
  background: linear-gradient(
    rgba(0,0,0,.7),
    rgba(0,0,0,.7)
    ),
  url('https://wedevelop.s3-us-west-2.amazonaws.com/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
  background-size:cover;
  margin-bottom: 10rem;
}

#filler-img h1 {
  position:absolute;
  top:50%;
  left:32%;
  color: white;
}




/*=========== Reviews Section =============*/

#reviews {
  height:75vh;
}

#reviews img {
  width:500px;
  height:416px;
}