/*html, body {
  height: 100%;
}
*/

body .btn-primary {
  background-color:#56EDC8;
  color:#2A4A46;
}

body .btn-danger {
  background-color:red;
}

.toast {
    opacity: 1 !important;
}
/*========= Navbar ==========*/

@media only screen and (min-device-width : 768px) {
  .navbar-brand {
    margin-left: 15%;
  }
}

nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  height: 6em;
  background-color: #56EDC8;
}

nav .navbar-brand {
  font-size: 2em;
  font-weight: 500;
}

ul li {
  border: 1px solid;
  margin-right: .5em;
  font-weight: bold;
  border-radius: 7px;
}



/*========== HOMEPAGE ==========*/

/*========== Landing Image Section =========*/

/* Modified by Steve on 4/12 to adjust the header image */
.home-intro {
  /*padding-top: 10%;*/
  position:relative;
  height: 75vh;
  background-image: url("https://wedevelop.s3-us-west-2.amazonaws.com/weDEVELOP_header_noText_2400x800.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  /*padding-top: 9%;*/
  width:45%;
  height:40vh;
  background-color: rgba(0,0,0,.0);
  color:#2A4A46;
  position: absolute;
  top:15%;
  margin-left:12rem;
}

.jumbotron h1 {
  padding-bottom:2rem;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.jumbotron p {
  padding-bottom:5%;
  font-family: 'Arvo', serif;
}

.jumbotron .btn {
  background-color:#ff9900;
  padding:15px;
  border-color:#ff9900;
  color: #2A4A46;
  font-family: 'Arvo', serif;
}

/*============= Business Points Section ===========*/

#business-points {
  min-height: 100vh;
  padding-top: 5%;
  margin-bottom: 5%;
}

#business-points img {
  width:150px;
  height: 150px;
  border-radius:150px;
}

#business-points h3 {
  margin-bottom: 5em;
  font-family: 'Arvo', serif;
}



/*========== Filler Section =============*/

#filler-img {
  height:50vh;
  position:relative;
  background: linear-gradient(
    rgba(0,0,0,.7),
    rgba(0,0,0,.7)
    ),
  url('https://wedevelop.s3-us-west-2.amazonaws.com/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
  background-size:cover;
  margin-bottom: 10rem;
}

#filler-img h1 {
  font-family: 'Arvo', serif;
  position:absolute;
  top:50%;
  left:32%;
  color: white;
}




/*=========== Reviews Section =============*/

#reviews {
  height:85vh;
}

#reviews img {
  width:500px;
  height:416px;
}


/*=========== Authentication Forms ===========*/

.devise-form {
  margin-top:10rem;
}

.devise-wrapper {
  font-family: 'Arvo', serif;
  border: 5px solid orange;
  padding:5rem;
}

.devise-wrapper .form-group {
  margin-bottom: 2rem;

}


/*========== Developer Dashboard ============*/

.dashboard {
  margin-top: 3rem;
  height:85vh;
  font-family: 'Arvo', serif;
}

.dashboard h1 {
  margin-bottom: 5rem;
}

.dashboard-section {
  min-height: 70vh;
}

.dashboard-section .card {
  border-color: orange;
}

.dashboard-section .card-body {
  height: 0px;
  overflow-y: auto;
}

.dashboard-section img {
  width:100px;
  height:100px;
}


/*========== Edit Profile ============*/

.profile-edit-page {
  font-family: 'Arvo', serif;
}

.profile-edit-page img {
  height:200px;
  width:200px;
}

.profile-edit-page hr {
  margin:auto;
  width:50%;
}

.section-divider {
  margin-top:2.5rem;
  margin-bottom:5rem;
}


/*========= Developer Show Page =========*/

#dev-show-page {
  font-family: 'Arvo', serif;
}

#left-show-page-column {
  height: 82vh;
  border:1px solid #56EDC8;
  border-radius:10px;
  padding-top:1rem;
}

#left-show-page-column hr {
  color:orange;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:4rem;
  height:3px
}

#left-show-page-column h5 {
  margin:1rem 0 1.5rem 0;
}

#left-show-page-column p {
  font-weight:bold;
  margin-bottom:2rem;
}

.show-page-divider {
  margin-top:3rem;
  margin-bottom:3rem;
}

#show-page-right-half {
  height:82vh;
}

.show-page-right-box-small {
  height:15vh;
  border:1px solid #56EDC8;
  border-radius:10px;
}

.show-page-right-box-small .progress {
  margin-top:2rem;
  height: 4rem;
  width: 100%;
  position:relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 3.5rem;
  overflow: hidden;
  right: 0;
  left: 0;

  font-size:1rem;
  color:black;
}

.updates-section {
  margin-top:2rem;
  height: 64vh;
  border: 1px solid #56EDC8;
  border-radius:10px;
  overflow-y: auto;
}

.updates-section h1, .updates-section h2 {
  font-weight:bold;
  
}

.updates-section .hiddenRow{
  padding:0;
  }

.updates-section .accordion-body {
  padding:0;
}

.updates-section .accordion-body p {
  padding:20px;
}

.updates-section .row {
  margin-top: 1.5rem;
}

.updateFormModal h5 {
  font-weight: bold;
}


.updates-table {
  overflow-y: auto;
}

.updates-section hr {
  visibility:hidden;
}

#dev-show-page h3 {
  color:orange;
}

/*======== New Project Form ===========*/

#new-project-form {
  margin-top:5rem;
  border: 2px solid orange;
  border-radius:10px;
  padding:2rem;
  font-family: 'Arvo', serif;
  /*background-color:grey;*/
}


/*========= Client Directory Page ==========*/

.client-directory img {
  border:1px solid black;
}