/*========= Navbar ==========*/

@media only screen and (min-device-width : 768px) {
  .navbar-brand {
    margin-left: 15%;
  }
}

nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  height: 6em;
  background-color: #56EDC8;
}

nav .navbar-brand {
  font-size: 2em;
  font-weight: 500;
}

ul li {
  border: 1px solid;
  margin-right: .5em;
  font-weight: bold;
  border-radius: 7px;
}



/*========== HOMEPAGE ==========*/

/*========== Landing Image Section =========*/

/* Modified by Steve on 4/12 to adjust the header image */
.home-intro {
  /*padding-top: 10%;*/
  position:relative;
  height: 75vh;
  background-image: url("https://wedevelop.s3-us-west-2.amazonaws.com/weDEVELOP_header_noText_2400x800.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  /*padding-top: 9%;*/
  width:45%;
  height:40vh;
  background-color: rgba(0,0,0,.0);
  color:#2A4A46;
  position: absolute;
  top:15%;
  margin-left:12rem;
}

.jumbotron h1 {
  padding-bottom:2rem;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.jumbotron p {
  padding-bottom:5%;
  font-family: 'Arvo', serif;
}

.jumbotron .btn {
  background-color:#ff9900;
  padding:15px;
  border-color:#ff9900;
  color: #2A4A46;
  font-family: 'Arvo', serif;
}

/*============= Business Points Section ===========*/

#business-points {
  min-height: 100vh;
  padding-top: 5%;
  margin-bottom: 5%;
}

#business-points img {
  width:150px;
  height: 150px;
  border-radius:150px;
}

#business-points h3 {
  margin-bottom: 5em;
  font-family: 'Arvo', serif;
}



/*========== Filler Section =============*/

#filler-img {
  height:50vh;
  position:relative;
  background: linear-gradient(
    rgba(0,0,0,.7),
    rgba(0,0,0,.7)
    ),
  url('https://wedevelop.s3-us-west-2.amazonaws.com/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
  background-size:cover;
  margin-bottom: 10rem;
}

#filler-img h1 {
  font-family: 'Arvo', serif;
  position:absolute;
  top:50%;
  left:32%;
  color: white;
}




/*=========== Reviews Section =============*/

#reviews {
  height:85vh;
}

#reviews img {
  width:500px;
  height:416px;
}


/*=========== Authentication Forms ===========*/

.devise-form {
  margin-top:10rem;
}

.devise-wrapper {
  font-family: 'Arvo', serif;
  border: 5px solid orange;
  padding:5rem;
}

.devise-wrapper .form-group {
  margin-bottom: 2rem;

}