<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.first_name) %>,</p>

<p>You have been invited to collaborate on a project at <b>weDevelop</b>! Click the link below to finish creating your account!</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("This link will expire in 5 days!  ", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore") %></p>
